* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img-container {
  width: 500px;
  height: 500px;

}

.container {
  margin-top: 10vh;
}

.contact-logo {
  font-size: 50px;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;

  }

  .hero-image {
    margin: auto;
  }

  .hero-caption h1 {
    text-align: center;
  }
}